pyaes==1.6.1
pysocks==1.7.1
Heroku3
pymongo[srv]==3.11.4
motor==2.4.0
marshmallow 
umongo
requests
bs4
telegraph==2.2.0
googletrans==3.1.0a0
opencv-python-headless
requests
gTTS
NumPy
glitch_this
speedtest
aiohttp
aiofiles
Pillow
pypng
wget
psutil
humanize
wheel
py-tgcalls
python-dotenv
ujson
beautifulsoup4
ffmpeg
ffmpeg-python
Pyromod 
pytz
cinemagoer
yt_dlp
youtube_search
youtube-search-python
Wikipedia
tgcrypto
python-telegram-bot
youtube-dl
Shazamio
pyyaml
cachetools
prettyconf
PyPDF2
PyDictionary
datetime
asyncio
pyshorteners
ytthumb
PhantomJS









